.App {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;

  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.signature {
  position: absolute;
  left: 20px;
  top: 0;
  display: flex;
  flex-direction: row;
  font-family: Georgia, "Times New Roman", Times, serif;
  align-items: center;
  justify-content: center;
}

.signature_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}